@{
    this.ViewData["Title"] = "Благодарим!";
}
<div class="text-center">
    <h1>Благодарим!</h1>
    <div class="alert alert-success">
        <span>Благодарим, че се регистрирахте в нашата платформа!</span>
    </div>
    <hr />
    <span>А може да си провериш имейла и да си потвърдиш акаунта, чрез линка, който ти пратихме!</span>
</div>
