@using OnlineDoctorSystem.Common
@using OnlineDoctorSystem.Data
@{
    this.ViewData["Title"] = $"ОнлайнДоктор-Системата";
    var towns = this.Model.Towns.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
    var specailties = this.Model.Specialties.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}
@model OnlineDoctorSystem.Web.ViewModels.Home.IndexViewModel

<div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-xl-6" id="home-search">
        <h1>Намерете лекар и резервирайте час за преглед онлайн!</h1>
        <div class="" id="search-doctor">
            @if (this.User.IsInRole(GlobalConstants.PatientRoleName))
            {
            <a class="btn btn-success btn-outline-warning text-white" asp-controller="Doctors" asp-action="AllNearPatient"><i class="fas fa-map-marked-alt"> Доктори около мен</i></a>
            }
            <br />
            <h4>Търси доктор:</h4>
            <br />
            <di>
                <form method="post" asp-controller="Doctors" asp-action="All">
                    <div>
                        <div class="form-group">
                            <select asp-for="TownId" class="form-control form-control-lg" asp-items="towns">
                                <option value="" selected="">По град...</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <select asp-for="SpecialtyId" class="form-control form-control-lg" asp-items="specailties">
                                <option value="" selected="">По специалност...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input asp-for="DoctorName" data-trigger="focus" data-placement="bottom" placeholder="По име на лекар..." class="form-control  form-control-lg">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-outline-warning text-white col-sm-6 col-md-4">
                                <i class="fas fa-search-plus"> Търсене по параметри</i>
                            </button>
                            <a asp-controller="Doctors" asp-action="All" class="btn btn-success btn-outline-warning text-white float-right d-inline-flex col-sm-6 col-md-4  justify-content-center" style="margin-top: 5px">
                                <i class="fas fa-globe"> Виж всички лекари</i>
                            </a>
                        </div>

                    </div>
                </form>
            </di>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <div>
                <img class="img-fluid" src="/images/doctor.png">
            </div>
        </div>
    </div>
    <div>
        <div class="text-center">
            <h2>Какво е @this.ViewData["Title"]?</h2>
            <p>
                @this.ViewData["Title"] Ви помага да намерите различни специалисти, да прочетете мнения на други пациенти и да резервирате час за преглед онлайн – в удобно за Вас време и място.
            </p>
        </div>
    </div>
</div>
