@{
    this.ViewData["Title"] = "Поверителност";
}
<h1>@this.ViewData["Title"]</h1>
<p>Този сайт е създаден с учебна и благотворителна цел. Администраторът на сайта няма никакъв приход от това, че ползвате сайта. Данните за съществуващи доктори са взети от third-party медицински сайтове и при опит за създаване на консултация с такъв лекар, потребителят бива пренасочван към официалната страница за създаване на резервации на сайта на дадения лекар.</p>
<p>Ако имате въпроси относно сигурността си, моля пишете ни в секция <a asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a></p>

<h1>Декларация за поверителност на Онлайн-Доктор система</h1>
<p>В Системата Онлайн-Доктор, достъпна от Онлайн-Доктор Система, един от основните ни приоритети е поверителността на нашите посетители. Този документ за Политика за поверителност съдържа видове информация, която се събира и записва от Онлайн-Доктор Система и как ние я използваме.</p>

<h2>General Data Protection Regulation (GDPR)</h2>
<p>Ние сме администратор на данни на вашата информация.</p>

<p>Правното основание на Онлайн-Доктор Система за събиране и използване на личната информация, описана в тази Политика за поверителност, зависи от личната информация, която събираме, и конкретния контекст, в който събираме информацията:</p>
<ul>
    <li>Онлайн-Доктор Системата трябва да сключи договор с Вас</li>
    <li>Вие сте дали разрешение на Онлайн-Доктор Система за това</li>
    <li>Обработката на вашата лична информация е в законни интереси на Онлайн-Доктор Система</li>
    <li>Онлайн-Доктор Системата трябва да се съобрази със закона</li>
</ul>

<p>Онлайн-Доктор Система ще запази вашата лична информация само дотолкова, доколкото е необходимо за целите, посочени в настоящата Политика за поверителност. Ние ще запазим и използваме вашата информация до степен, необходима за спазване на нашите законови задължения, разрешаване на спорове и прилагане на нашите политики.</p>

<p>Ако сте жител на Европейското икономическо пространство (ЕИП), имате определени права за защита на данните. Ако искате да бъдете информирани каква лична информация съхраняваме за вас и ако искате тя да бъде премахната от нашите системи, моля свържете се с нас.</p>

<p>При определени обстоятелства имате следните права за защита на данните:</p>
<ul>
    <li> Правото на достъп, актуализация или изтриване на информацията, която имаме за вас. </li>
    <li> Правото на коригиране. </li>
    <li> Правото на възражение. </li>
    <li> Правото на ограничение. </li>
    <li> Правото на преносимост на данни </li>
    <li> Правото на оттегляне на съгласието </li>
</ul>

<h2>Логове</h2>

<p> Онлайн-Доктор Система следва стандартна процедура за използване на регистрационни файлове. Тези файлове регистрират посетителите, когато посещават уебсайтове. Всички хостинг компании правят това и част от анализа на хостинг услуги. Информацията, събрана от регистрационните файлове, включва адреси на интернет протокол (IP), тип браузър, доставчик на интернет услуги (ISP), печат за дата и час, препращащи / изходни страници и евентуално броя на кликванията. Те не са свързани с никаква информация, която може да идентифицира лично. Целта на информацията е да анализира тенденциите, да администрира сайта, да проследява движението на потребителите на уебсайта и да събира демографска информация. </p>

<h2> Бисквитки и уеб маяци </h2>

<p> Както всеки друг уебсайт, Онлайн-Доктор Система използва „бисквитки“. Тези бисквитки се използват за съхраняване на информация, включително предпочитанията на посетителите и страниците на уебсайта, до които посетителят е имал достъп или е посетил. Информацията се използва за оптимизиране на опита на потребителите чрез персонализиране на съдържанието на нашата уеб страница въз основа на типа браузър на посетителите и / или друга информация. </p>

<p> За по-обща информация относно бисквитките, моля, прочетете <a href="https://www.cookieconsent.com/what-are-cookies/"> „Какво представляват бисквитките“ </a>. </p>



<h2> Правила за поверителност </h2>

<P> Можете да разгледате този списък, за да намерите Декларацията за поверителност за всеки от рекламните партньори на Онлайн-Доктор Система. </P>

<p> Рекламните сървъри или рекламни мрежи на трети страни използват технологии като бисквитки, JavaScript или уеб маяци, които се използват в съответните им реклами и връзки, които се появяват в Онлайн-Доктор Система, които се изпращат директно до браузъра на потребителите. Те автоматично получават вашия IP адрес, когато това се случи. Тези технологии се използват за измерване на ефективността на техните рекламни кампании и / или за персонализиране на рекламното съдържание, което виждате на уебсайтовете, които посещавате. </p>

<p> Имайте предвид, че Онлайн-Доктор Системата няма достъп до или контролира тези бисквитки, които се използват от трети страни рекламодатели. </p>

<h2> Правила за поверителност на трети страни </h2>

<p> Политиката за поверителност на Онлайн-Доктор Система не се отнася за други рекламодатели или уебсайтове. Поради това ви съветваме да се консултирате със съответните Политики за поверителност на тези рекламни сървъри на трети страни за по-подробна информация. Той може да включва техните практики и инструкции за това как да се откажете от определени опции. </p>

<p> Можете да изберете да деактивирате бисквитките чрез вашите индивидуални опции на браузъра. За да знаете по-подробна информация за управлението на бисквитки с конкретни уеб браузъри, тя може да бъде намерена на съответните уебсайтове на браузърите. </p>

<h2> Информация за децата </h2>

<p> Друга част от нашия приоритет е добавянето на защита за деца по време на използване на интернет. Ние насърчаваме родителите и настойниците да наблюдават, да участват и / или да наблюдават и насочват своята онлайн дейност. </p>

<p> Онлайн-Доктор Система не събира съзнателно каквато и да е лична информация от деца под 13-годишна възраст. Ако смятате, че детето ви е предоставило такъв вид информация на нашия уебсайт, настоятелно ви препоръчваме незабавно да се свържете с нас и ние ще го направим нашите най-добри усилия незабавно да премахнем такава информация от нашите записи. </p>

<h2> Само декларация за поверителност онлайн </h2>

<p> Нашата Политика за поверителност, създадена в GDPRPrivacyPolicy.net) се прилага само за нашите онлайн дейности и е валидна за посетителите на нашия уебсайт по отношение на информацията, която те са споделили и / или събират в Онлайн-Доктор Система. Тази политика не е приложима за информация, събрана офлайн или чрез канали, различни от този уебсайт. </p>

<h2> Съгласие </h2>

<p> Използвайки нашия уебсайт, вие се съгласявате с нашата Политика за поверителност и се съгласявате с нейните условия. </p>