@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Нямате достъп!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Нямате достъп да достъпите този ресурс. Ако имате въпроси моля свържете се с администратора на сайта в секция  <a href="/Contacts/Index">Контакти</a></p>
</header>
