@page
@model ConfirmEmailModel
@{
    this.ViewData["Title"] = "Успешно потвърдихте имейла си!";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
    <div class="alert alert-success">
        Благодарим, че потвърдихте имейла си!
    </div>
</div>