@model OnlineDoctorSystem.Web.ViewModels.Doctors.ReviewViewModel

@{
    ViewBag.Title = "Добавяне на отзив";
}

<h2>Добавяне на отзив към лекар.</h2>
<h3>Цялостно представяне</h3>
<h3>Време за чакане</h3>
<h3>Отношение на доктора</h3>
<h3>Лично мнение</h3>
