@{
    this.ViewData["Title"] = "Благодарим!";
}
<div class="text-center">
    <h1>Имейлът е успешно изпратен!</h1>
    <div class="alert alert-success">
        <span>Имейлът е успешно изпратен! Очаквайте отговор от пациента!</span>
    </div>
</div>