@using OnlineDoctorSystem.Services
@{
    this.ViewData["Title"] = "Добавяне на лекари";

    var towns = this.Model.Towns.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}
@model OnlineDoctorSystem.Web.ViewModels.Home.IndexViewModel
<h1 class="text-center">@this.ViewData["Title"]</h1>
<form method="post">
    <div class="form-group">
        <label for="count" class="form-control text-center">Брой лекари</label>
        <input id="count" name="count" type="number" class="form-control"/>
    </div>
    <div class="form-group">
        <select for="townId" class="form-control" asp-items="towns">
            <option value="" selected="">Град:</option>
        </select>
    </div>
    <button class="btn btn-success" type="submit">Добави</button>

</form>
