@{
    this.ViewData["Title"] = "Добавяне на консултация";
    Model.Date = DateTime.Now;
}
@model OnlineDoctorSystem.Web.ViewModels.Consultations.AddConsultationInputModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<div class="">
    <div class="row container" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="col-sm-12">
            <form class="" method="post" asp-controller="Consultations" asp-action="AddConsultation">
                <h1 class="offset-sm-2">Запазване на час при д-р @Model.DoctorName</h1>
                <div class="form-group">
                    <label asp-for="Date" class="col-sm-4 offset-sm-4 align-content-center">Въведете дата</label>
                    <input asp-for="Date" class="col-sm-4 offset-sm-4 align-content-center form-control">
                    <span asp-validation-for="Date" class="col-sm-4 offset-sm-4 align-content-center"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="col-sm-4 offset-sm-4 align-content-center">Въведете начално време</label>
                    <input asp-for="StartTime" type="time" class="col-sm-4 offset-sm-4 align-content-center form-control" />
                    <span asp-validation-for="StartTime" ass="col-sm-4 offset-sm-4 align-content-center"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndTime" class="col-sm-4 offset-sm-4 align-content-center">Въведете крайно време</label>
                    <input asp-for="EndTime" type="time" class="col-sm-4 offset-sm-4 align-content-center form-control">
                    <span asp-validation-for="EndTime" ass="col-sm-4 offset-sm-4 align-content-center"></span>
                    <input type="hidden" value="@Model.DoctorId" asp-for="DoctorId">
                    <input type="hidden" value="@Model.PatientId" asp-for="PatientId">
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-sm-4 offset-sm-4 align-content-center">Въведете заявка за посещението</label>
                    <textarea asp-for="Description" class="col-sm-4 offset-sm-4 align-content-center form-control" placeholder="Често имам главоболие."></textarea>
                    <span asp-validation-for="Description" ass="col-sm-4 offset-sm-4 align-content-center"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-success col-sm-4 offset-sm-4 " type="submit">Уговаряне на дата и час</button>
                </div>
                <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Site_Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:LocalHost_Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
