@model OnlineDoctorSystem.Web.ViewModels.Consultaions.AddConsultationViewModel;
@{
    this.ViewData["Title"] = "Успешно подадена заявка!";
}
<div class="text-center">
    <h1>Вашата заявка беше приета!</h1>
    <div class="alert alert-success">
        Очаквайте потвърждение от практикуващия лекар!
    </div>
</div>
