@model OnlineDoctorSystem.Web.ViewModels.Prescriptions.PrescriptionViewModel
@{
    this.ViewData["Title"] = "Предписване на медикамент на пациент";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="MedicamentName">Име на лекарство</label>
        <input asp-for="MedicamentName" class="form-control" placeholder="Аналгин" />
        <span asp-validation-for="MedicamentName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Количество</label>
        <input asp-for="Quantity" class="form-control" placeholder="10 таблетки" />
        <span asp-validation-for="Quantity"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instructions">Допълнителни иструкции</label>
        <input asp-for="Instructions" class="form-control" placeholder="Приемайте 2 таблетки на ден" />
    </div>
    <input type="hidden" asp-for="PatientId" value="@Model.PatientId"/>
    <button type="submit" class="btn btn-success">Добавяне на предписание</button>
</form>